//- index.jade
extends ./layout.jade

block row-content
  h1
      span NYC
      |  School Finder
  h3.tagline There are #{schoolCount} High Schools in New York City. Find the right one for your child.
  div.panel.panel-default.action.box#personalityEntry
    h3(data-toggle="collapse") Getting to know your child
    //- ul.actions
    //-   li.facebook
    //-     a(href='javascript:void(0);')
    //-       i.fa.fa-facebook
    //-       p.alt Facebook
    //-   li.twitter 
    //-     a(href='javascript:void(0);')
    //-       i.fa.fa-twitter
    //-       p.alt Twitter
    //-   li.extra or
    //-   li
    //-     a#pasteCorpusLink(href='javascript:void(0);')
    //-       |Write a short biography about your child, what are their interests, what are their ambitions in life. 
    div.in.well#pasteCorpus
      form.jobForm.form-horizontal(method='post', action="/student/submit")
        fieldset
          div.form-group.row
            label.col-lg-3.col-xs-3(for='labelfield') Get your child to tell us a little bit about themselves. What are their interests, hobbies and what do you they want do after they finish school. 
            div.col-lg-9.col-xs-9
              textarea.form-control(type='text', name='studentSample', value='', required='true')
          div.form-group.row
            div.col-lg-3.col-lg-push-9.col-xs-4
              input.btn.btn-block(type='submit', value='Analyse')
    //- div.panel-collapse.collapse.in.well
    //-   form(method='post', action='/student/submit')
    //-     .row.twitter-submission
    //-       .col-md-12
    //-         span.h3 @
    //-         input.paragraph.form-control(type='text', value='#{user ? user.screen_name : "" }', name='username', placeholder='your twitter handle...', required)
    //-         button.button.h4(type='submit') Match me!
    //-   if error
    //-     .row
    //-       .col-md-12
    //-         div(role='alert').alert
    //-         h3 Error
    //-         p #{error}
    //-   if warning
    //-     .row
    //-       .col-md-12
    //-         div(role='alert').alert
    //-         h3 Warning!
    //-         p #{warning}
    //-   if info
    //-     .row
    //-       .col-md-12
    //-         div(role='alert').alert
    //-         p #{info}
  div.info.box#results
    h3.toggle(data-toggle="collapse", href="#schools", aria-expanded="false", aria-controls="school") Here are some high schools that match you child's personality
    div.panel-collapse.collapse.in#schools
      ol.schools
    div#taWidgetContainer
  div.info.box#moreInfo
    h3.toggle(data-toggle="collapse", href="#personalities", aria-expanded="false", aria-controls="school") Our analysis of your child's personality
    div.panel-collapse.collapse.in#personalities
      ol.personalities
      div#charts
  //- div.foo
  //-   a.btn.btn-primary(data-toggle="collapse", href="#collapseExample", aria-expanded="false", aria-controls="collapseExample")
  //-     |Link with href
  //-   button.btn.btn-primary(type="button", data-toggle="collapse", data-target="#collapseExample", aria-expanded="false", aria-controls="collapseExample")
  //-     |Button with data-target
  //-   div.collapse#collapseExample
  //-     |foo
    h3(data-toggle="collapse") Our analysis of your child's personality
    div.panel-collapse.collapse.in
      ul.personalities
    h4 Suggested potential careers:
      ul.careers
  div.map-container
    div#map-canvas
