//- index.jade
extends ./layout.jade

block row-content
  h1
      span NYC
      |  School Finder
  h3.tagline We&rsquo;ve analyzed #{schoolCount} High Schools in New York City. Find the right one for your child.
  div.panel.panel-default.action.box#personalityEntry
    h3.toggle(data-toggle="collapse", href="#pasteCorpus", aria-expanded="false", aria-controls="school") Let&rsquo;s get to know your child&rsquo;s personality.
    //- ul.actions
    //-   li.facebook
    //-     a(href='javascript:void(0);')
    //-       i.fa.fa-facebook
    //-       p.alt Facebook
    //-   li.twitter 
    //-     a(href='javascript:void(0);')
    //-       i.fa.fa-twitter
    //-       p.alt Twitter
    //-   li.extra or
    //-   li
    //-     a#pasteCorpusLink(href='javascript:void(0);')
    //-       |Write a short biography about your child, what are their interests, what are their ambitions in life. 
    div.panel-collapse.collapse.in.well#pasteCorpus
      form.jobForm.form-horizontal(method='post', action="/student/submit")
        fieldset
          div.form-group.row
            label.col-lg-3.col-xs-3(for='labelfield') Submit a piece of writing from your child. This could be about their interests, hobbies, what they want do after they finish school, or even just an essay. 
            div.col-lg-9.col-xs-9
              textarea.form-control(type='text', name='studentSample', value='', required='true')
              p
                a(href="/samples/", target="_new") Doing a demo? Try it with a sample piece of writing...
          div.form-group.row
            div.col-lg-3.col-lg-push-9.col-xs-4
              input.btn.btn-block(type='submit', value='Analyse')
    //- div.panel-collapse.collapse.in.well
    //-   form(method='post', action='/student/submit')
    //-     .row.twitter-submission
    //-       .col-md-12
    //-         span.h3 @
    //-         input.paragraph.form-control(type='text', value='#{user ? user.screen_name : "" }', name='username', placeholder='your twitter handle...', required)
    //-         button.button.h4(type='submit') Match me!
    //-   if error
    //-     .row
    //-       .col-md-12
    //-         div(role='alert').alert
    //-         h3 Error
    //-         p #{error}
    //-   if warning
    //-     .row
    //-       .col-md-12
    //-         div(role='alert').alert
    //-         h3 Warning!
    //-         p #{warning}
    //-   if info
    //-     .row
    //-       .col-md-12
    //-         div(role='alert').alert
    //-         p #{info}
  div.info.box#results
    h3.toggle(data-toggle="collapse", href="#personalities", aria-expanded="false", aria-controls="school") Here are the results of your child's analysis, compared to top matching schools.
    //- Here are the top high schools that match you child&rsquo;s personality
    div.panel-collapse.collapse.in#personalities
      ul.personalities
      //- div#charts
      //- div.foo
      //-   a.btn.btn-primary(data-toggle="collapse", href="#collapseExample", aria-expanded="false", aria-controls="collapseExample")
      //-     |Link with href
      //-   button.btn.btn-primary(type="button", data-toggle="collapse", data-target="#collapseExample", aria-expanded="false", aria-controls="collapseExample")
      //-     |Button with data-target
      //-   div.collapse#collapseExample
      //-     |foo
      div#schools
        ol.schools
  div.info.box#tradeOff
    h3.toggle(data-toggle="collapse", href="#taWidgetContainer", aria-expanded="false", aria-controls="taWidgetContainer") Refine your choices.
      div#taWidgetContainer(style="height: 800px;")
      div#taWidgetLoader(style="height: 400px;")
        div.msg
          img(src='/images/watson.gif')
          p Creating Tradeoff Analysis...
  div.info.box#moreInfo
    h3.toggle(data-toggle="collapse", href="#careers", aria-expanded="false", aria-controls="school") Suggested potential careers based on the personality analysis.
    div.panel-collapse.collapse.in#careers
      ul.careers
  div#loader
    div.msg
      img(src='/images/watson.gif')
      p Analysing...
  div.map-container
    div#map-canvas